body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
